<div class="container my-5">
  <!--Section: Content-->
  <section>
    <!-- Section heading -->
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">
      Frequently Asked Questions
    </h3>
    <div>
      <div class="row ml-2">
        <button
          style="background-color: transparent; width: 70;"
          type="button"
          class="btn btn-primary"
        >
          <h3 style="color: black;">+</h3>
        </button>
      </div>
    </div>
    <hr class="w-header" />
    <!-- Section description -->
    <!-- <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">
      Got a question? We've got answers. If you have some other questions, see
      our support center.
    </p> -->

    <div class="row text-center text-md-left">
      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 1
        </button>
        <button type="button" class="btn btn-primary">edit</button>
      </div>

      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 2
        </button>
        <button type="button" class="btn btn-primary">edit</button>
      </div>

      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 1
        </button>
        <button type="button" class="btn btn-primary">edit</button>
      </div>

      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 1
        </button>
        <button type="button" class="btn btn-primary">edit</button>
      </div>

      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 1
        </button>

        <button type="button" class="btn btn-primary">edit</button>
      </div>

      <div class="col-md-6 mb-4 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@getbootstrap"
        >
          Question 1
        </button>
        <button type="button" class="btn btn-primary">edit</button>
      </div>
    </div>
  </section>
</div>
<!-- question model -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Recipient:</label
            >
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
</div>
<!-- question model -->
