<div>
  <h1>Add Advice</h1>
  <form style="padding-top: 10%; padding-right: 13%;">
    <div class="form-group">
      <label for="exampleFormControlInput1"> Advice Title</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" />
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1"> Advice Content</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
    <button type="button" class="btn btn-primary">Insert</button>
  </form>
</div>
