<div class="Container">
  <!-- Default form login -->
  <form
    #signInForm="ngForm"
    class="text-center border border-light p-5"
    (ngSubmit)="signIn(signInForm)"
  >
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input
      ngModel
      name="'email'"
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="E-mail"
    />

    <!-- Password -->
    <input
      ngModel
      name="password"
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      placeholder="Password"
    />

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
  </form>
  <!-- Default form login -->
</div>
