<div class="containter" style="padding-top: 8%;">
  <div class="row mt-5 mr-5">
    <div class="card" style="width: 18rem;">
      <div
        class="card-body d-flex justify-content-center"
        style="height: 200px;"
      >
        <div class="">
          <div class="col mt-5">
            <h5 class="card-title">Card title</h5>
          </div>
          <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mr-5" style="width: 18rem;">
        <div
          class="card-body d-flex justify-content-center"
          style="height: 200px;"
        >
          <div class="">
            <div class="col mt-5">
              <h5 class="card-title">Card title</h5>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mr-5">
    <div class="card" style="width: 18rem;">
      <div
        class="card-body d-flex justify-content-center"
        style="height: 200px;"
      >
        <div class="">
          <div class="col mt-5">
            <h5 class="card-title">Card title</h5>
          </div>
          <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div
          class="card-body d-flex justify-content-center"
          style="height: 200px;"
        >
          <div class="">
            <div class="col mt-5">
              <h5 class="card-title">Card title</h5>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
