<div class="row mt-5 mr-5">
  
  <div class="col-md-6">
    <div class="card shadow">
    <div class="card-header p-5 text-center">
      <strong>
        Number of Ads
      </strong>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card shadow">
  <div class="card-header p-5 text-center">
    <strong>
      Number of FAQs
    </strong>
  </div>
  </div>
</div>
 
</div>

<div class="row mt-5 mr-5">
  
  <div class="col-md-6">
    <div class="card shadow">
    <div class="card-header p-5 text-center">
      <strong>
        Number of Notifications
      </strong>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card shadow">
  <div class="card-header p-5 text-center">
    <strong>
      Number of FAQs
    </strong>
  </div>
  </div>
</div>
 
</div>

